<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head-panel')%>

  <body>
    <%- include('./partials/header-panel.ejs') %>
      <main class="main-panel">
        <div>
          <aside class="menu">
            <%- include('./partials/panel-menu.ejs') %>
          </aside>
          <section class="principal">
            <div class="usuario">
              <img src="<%= usuario.foto %>" alt="">
              <div>
                <p><span>Nombre:</span> <%= usuario.nombre %></p>
                <p><span>Apellido:</span> <%= usuario.apellido %></p>
                <p><span>DNI:</span> <%= usuario.dni %> </p>
                <p><span>Nacimiento:</span> <%= usuario.nacimiento.substring(0,10) %></p>
                <p><span>Mail:</span> <%= usuario.mail %></p>
              </div>
            </div>
          </section>
        </div>
      </main>
      <%- include('./partials/footer')%>
  </body>

</html>